<script>
        function checkAttribute (entity, attribute) {
                if (entity.getAttribute (attribute) === null) {
                        entity.setAttribute (attribute, "");
                }
        }

        function removeClass (entity, className) {
                checkAttribute (entity, "class");

                var after  = " " + className;
                var before = className + " ";

                if (entity.getAttribute ("class").match (before)) {
                        entity.setAttribute ("class", entity.getAttribute ("class").replace (before, ""));
                        return true;
                }
                else if (entity.getAttribute ("class").match (after)) {
                        entity.setAttribute ("class", entity.getAttribute ("class").replace (after, ""));
                        return true;
                }
                else {
                        return false;
                }

        }

        function extendClass (entity, className) {
                checkAttribute (entity, "class");

                if (! entity.getAttribute ("class").match (className)) {
                        entity.setAttribute ("class", className + " " + entity.getAttribute ("class"));
                }
                else if (removeClass (entity, className)) {
                        extendClass (entity, className);
                }

        }

        function appendClass (entity, className) {
                checkAttribute (entity, "class");

                if (! entity.getAttribute ("class").match (className)) {
                        entity.setAttribute ("class", entity.getAttribute ("class") + " " + className);
                }
                else if (removeClass (entity, className)) {
                        appendClass (entity, className);
                }
        }

        function changeClass (entity, current, next) {
                checkAttribute (entity, "class");

                entity.setAttribute ("class", entity.getAttribute ("class").replace (current, next));
        }

        function toggleVisibility (entityID, imageID) {
                var entity = document.getElementById (entityID);
                var image  = document.getElementById (imageID);

                checkAttribute (entity, "class");
                checkAttribute (image, "class");

                if (entity.style.display === "none") {
                        entity.style.display = "block";
                        upsideDownOn (imageID);
                }
                else if (entity.style.display === "block") {
                        entity.style.display = "none";
                        upsideDownOff (imageID);
                }
                else if (entity.getAttribute ("class").match ("invisible")) {
                        changeClass (entity, "invisible", "visible");
                        upsideDownOn (imageID);
                }
                else if (entity.getAttribute ("class").match ("visible")) {
                        changeClass (entity, "visible", "invisible");
                        upsideDownOff (imageID);
                }
                else {
                        entity.style.display = "none";
                        upsideDownOff (imageID);

                }
        }

        function upsideDownOn (id) {
                var img = document.getElementById (id);

                changeClass (img, "default-rotation", "upside-down-rotation");
        }

        function upsideDownOff (id) {
                var img = document.getElementById (id);

                changeClass (img, "upside-down-rotation", "default-rotation");
        }
</script>
