{% assign ids = page.links | sort %}
{% assign pagelinks = "" %}
{% for entry in site.data.link %}
  {% if ids contains entry.id %}
    {% assign title     = entry.title %}
    {% assign url       = entry.url %}
    {% assign link      = "<a href='" | append: url       | append: "' class='text-link'>" | append: title | append: "</a>" %}
    {% assign pagelinks = pagelinks   | append: "|"       | append: link %}
  {% endif %}
{% endfor %}
{% assign pagelinks = pagelinks | remove_first: "|" | split: "|" %}

<a name="external-links"> </a>
<h3> Further reading (external links) <img src="{{ site.data.conf.path.icons }}/show-black.png" width="16" height="16" id="external-links-image"
    onclick="return toggleVisibility ('external-links-list', 'external-links-image')"/> </h3>
<div id="external-links-list" class="invisible">
    <ul>
      {% for pagelink in pagelinks %}
        <li> {{ pagelink }} </li>
      {% endfor %}
    </ul>
</div>
