{% assign ids = page.links | sort %}
{% assign pagelinks = "" %}
{% for entry in site.data.link %}
  {% if ids contains entry.id %}
    {% assign title     = entry.title %}
    {% assign url       = entry.url %}
    {% assign link      = title | append: "=====" | append: url %}

    {% assign pagelinks = pagelinks | append: "|" | append: link %}
  {% endif %}
{% endfor %}
{% assign pagelinks = pagelinks | remove_first: "|" | split: "|" %}

<a name="external-links"> </a>
<h3> Further reading (external links) <img src="{{ site.data.conf.path.icons }}/show-black.png" width="16" height="16" id="external-links-image"
    onclick="return toggleVisibility ('external-links-list', 'external-links-image')" class="animated-element default-rotation"/> </h3>
<div id="external-links-list" class="animated-element invisible">
    <ul>
      {% for pagelink in pagelinks %}
        {% assign entry = pagelink | split: "=====" %}
        {% assign title = entry[0] %}
        {% assign url   = entry[1] %}
        <li>
        <a href="{{ url }}" class="text-link"
            onmouseover = "document.getElementById ('{{ url }}').src = '{{ site.data.conf.path.icons }}/external-link-blue.png';"
            onmouseout  = "document.getElementById ('{{ url }}').src = '{{ site.data.conf.path.icons }}/external-link.png';">
            {{ title }}
            <img src="{{ site.data.conf.path.icons }}/external-link.png" width="16" height="16" id='{{ url }}' class="animated-element"/>
          </a>
        </li>
      {% endfor %}
    </ul>
</div>
