{% assign ids = page.refs | sort %}
{% assign pagerefs = "" %}
{% for entry in site.data.bib %}
  {% if ids contains entry.id %}
    {% assign authors  = entry.authors | reverse             | join: "+"      | replace_first: "+", " and " %}
    {% assign authors  = authors       | split: "+"          | reverse        | join: ", " %}
    {% assign title    = "<i>"         | append: entry.title | append: "</i>" %}
    {% assign year     = "<b>"         | append: entry.year  | append: "</b>" %}
    {% assign pagerefs = pagerefs      | append: "|"         | append: title  | append: ", " %}
    {% assign pagerefs = pagerefs      | append: year        | append: " - "  | append: authors %}
  {% endif %}
{% endfor %}
{% assign pagerefs = pagerefs | remove_first: "|" | split: "|" %}

<a name="references"> </a>
<h3> References <img src="{{ site.data.conf.path.icons }}/show-black.png" width="16" height="16" id="references-image"
        onclick="return toggleVisibility ('references-list', 'references-image')" class="default-rotation"/> </h3>
<div id="references-list" class="invisible">
  <ol>
    {% for pageref in pagerefs %}
    {% assign linkref = pageref   | split: ' ' | remove: "<i>" | remove: "</i>" | remove: "<b>" | remove: "</b>" |
                        join: ' ' | slugify    | split: '-'       | join: '+' %}
    <li> {{ pageref }} <a href="http://google.com/?q={{ linkref }}+pdf">
            <img id="{{ linkref }}" src="{{ site.data.conf.path.icons }}/search-black.png" width="16" height="16"
            onmouseover = "document.getElementById ('{{ linkref }}').src = '{{ site.data.conf.path.icons }}/search-blue.png';"
            onmouseout  = "document.getElementById ('{{ linkref }}').src = '{{ site.data.conf.path.icons }}/search-black.png';"/>
      </a> </li>
    {% endfor %}
  </ol>
</div>
