@mixin rounded-border {
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;

        -moz-border-radius-topleft: 5%;
        -moz-border-radius-topright: 5%;
        -moz-border-radius-bottomleft: 5%;
        -moz-border-radius-bottomright: 5%;

        -webkit-border-top-left-radius: 5%;
        -webkit-border-top-right-radius: 5%;
        -webkit-border-bottom-left-radius: 5%;
        -webkit-border-bottom-right-radius: 5%;
}

@mixin full-circle {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;

  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
}

@mixin shadow {
        box-shadow: 0px 0px 15px #777;
        -moz-box-shadow: 0px 0px 15px #777;
        -webkit-box-shadow: 0px 0px 15px #777;
}

@mixin padding {
        font-size: 0.85em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        padding-top: 0.15em;
        padding-bottom: 0.15em;
}

.page-tags > ul {
        list-style-type: none;
}

.page-tags > ul > li {
        display: inline-block;
        margin-right: 0.25em;
        margin-bottom: 0.15em;
}

.page-tags > ul > li > a {
        color: white;
        background-color: #333;
        display: inline-block;

        @include rounded-border;
        @include smooth;
        @include padding;
}

.page-tags > ul > li > a:hover {
        text-decoration: none;
        color: white;
        background-color: #555;

        @include shadow;
}

.page-tags {
        clear: both;
}

.invisible {
        display: none;

        @include mobile { display: block; }
}

.visible {
        display: block;

        @include mobile {
                display: none;
        }
}

.dont-float {
        display: block;
        clear: both;
}

.float-left {
        display: block;
        float: left;
}

.float-right {
        display: block;
        float: right;
}

.align-left {
        position: relative;
        left: 0px;
}

.align-right {
        position: relative;
        right: 0px;
}

p {
        text-align: justify;
}

.image-list {
        /* TO DO */
}

.communist-black-list {
        list-style-image: url("/images/icons/black/small/rounded-square.png");
}

.communist-red-list {
        list-style-image: url("/images/icons/red-communism.png");
}

@mixin font-normal {
        font-weight:     normal;
        font-style:      normal;
        text-decoration: none;
        text-transform:  none;
}

@mixin font-small-caps {
        font-variant: small-caps;
}

.draft-tag {
        @include font-normal;
        @include font-small-caps;
}

@mixin full-gray {
        -webkit-filter: grayscale(100%);
        -moz-filter:    grayscale(100%);
        -o-filter:      grayscale(100%);
        -ms-filter:     grayscale(100%);
        filter:         grayscale(100%);
}

@mixin rotate-right {
        transform:         rotate(90deg);
        -ms-transform:     rotate(90deg);
        -webkit-transform: rotate(90deg);
}

@mixin rotate-left {
        transform:         rotate(270deg);
        -ms-transform:     rotate(270deg);
        -webkit-transform: rotate(270deg);
}

.upside-down-rotation {
        transform:         rotate(180deg);
        -ms-transform:     rotate(180deg);
        -webkit-transform: rotate(180deg);

        @include mobile {
                transform:         rotate(0deg);
                -ms-transform:     rotate(0deg);
                -webkit-transform: rotate(0deg);
        }
}

.default-rotation {
        transform:         rotate(0deg);
        -ms-transform:     rotate(0deg);
        -webkit-transform: rotate(0deg);

        @include mobile {
                transform:         rotate(180deg);
                -ms-transform:     rotate(180deg);
                -webkit-transform: rotate(180deg);
        }
}

#slide-img {
        @include full-gray;

        height: 300px;
        width: 100%;
        object-fit: contain;

        margin:  auto;
        opacity: 0.75;
        filter:  alpha(opacity=75);
}

#slide-img:hover {
        filter:         grayscale(0%);
        -moz-filter:    grayscale(0%);
        -ms-filter:     grayscale(0%);
        -o-filter:      grayscale(0%);
        filter:         none;
        zoom:           1;
        -webkit-filter: grayscale(0%);
}

@mixin side-note {
        border-width: 2px;
        border-style: solid;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 15px;
        -moz-border-radius-bottomleft: 15px;
        -moz-border-radius-bottomright: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 5px;

        > span:before {
                text-transform: uppercase;
                font-weight: bold;
                color: black;
                display: block;
        }

        > span {
                display: block;
        }
}

div.important-note { @include side-note; border-color: red;   }
div.update-note    { @include side-note; border-color: green; }

div.important-note > span:before { content: "Important Note:"; }
div.update-note    > span:before { content: "Update Note:";    }

.title-link {
        @include smooth;
}

.post-excerpt {
  @include mobile {
    display: none;
  }
}

.post-excerpt-short {
  display: none;

  @include mobile {
    display: block;
  }
}

.read-more {
        text-decoration: none;
        color: white;
        background-color: #333;

        @include padding;
        @include rounded-border;
        @include smooth;

        @include mobile {
          display: none;
        }
}

.read-more:hover {
        text-decoration: none;
        color: white;
        background-color: #555;

        @include shadow;
}

.animated-element {
        @include smooth;
}


.svg-icon:hover {
  @include rotate-left;
  @include smooth;
  @include shadow;
  @include full-circle;
}
