.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;

  &.spotify {
    background-size: 40px 40px;
    background-image: url(/images/icons/footer/spotify.png); }
  &.tezos {
    background-size: 40px 40px;
    background-image: url(/images/icons/footer/tezos.svg); }
  &.youtubemusic {
    background-size: 40px 40px;
    background-image: url(/images/icons/footer/youtubemusic.svg);
  }
  &.bitcoin {
    background-size: 40px 40px;
    background-image: url(/images/icons/footer/bitcoin.svg); }
  &.ethereum {
    background-size: 40px 40px;
    background-image: url(/images/icons/footer/ethereum.svg); }
  &.dribbble      { background-image: url(/images/icons/footer/dribbble.svg); }
  &.email         { background-image: url(/images/icons/footer/email.svg); }
  &.facebook      { background-image: url(/images/icons/footer/facebook.svg); }
  &.flickr        { background-image: url(/images/icons/footer/flickr.svg); }
  &.github        { background-image: url(/images/icons/footer/github.svg); }
  &.instagram     { background-image: url(/images/icons/footer/instagram.svg); }
  &.linkedin      { background-image: url(/images/icons/footer/linkedin.svg); }
  &.pinterest     { background-image: url(/images/icons/footer/pinterest.svg); }
  &.rss           { background-image: url(/images/icons/footer/newsfeed.svg); }
  &.stackoverflow { background-image: url(/images/icons/footer/stackoverflow.svg); }
  &.twitter       { background-image: url(/images/icons/footer/twitter.svg); }
  &.youtube 	    { background-image: url(/images/icons/footer/youtube.svg); }
  &.googleplus	  { background-image: url(/images/icons/footer/googleplus.svg); }
  &.reddit {
    background-size: 40px 40px;
    background-image: url(/images/icons/footer/reddit.svg);
  }

}
