---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% include tags.html %}
  <h5> Tagged with: </h5>
  <ul>
  {% for pagetag in pagetags %} <li> {{ pagetag }} </li> {% endfor %}
  </ul>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.refs %}
  {% include refs.html %}
  <h3> References: </h3>
  <ol>
  {% for pageref in pagerefs %} <li> {{ pageref }} </li> {% endfor %}
  </ol>
  {% endif %}

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
