---
layout: default
---

<article class="post">
  {% if page.slides %}
    {% include slides.html %}
  {% endif %}

<h1>{{ page.title }} {% if page.draft %} <span class="draft-tag"> [Draft] </span> {% endif %} </h1>

  {% unless page.draft %}
    {% if page.tags %} {% include tags.html %} {% endif %}
  {% endunless %}

  <div class="entry"> {{ content }} </div>

  {% if page.refs %}  {% include refs.html %}  {% endif %}
  {% if page.links %} {% include links.html %} {% endif %}

  {% unless page.draft %}
    {% if page.date %}     {% include date.html   %} {% endif %}
    {% if page.comments %} {% include disqus.html %} {% endif %}
  {% endunless %}
</article>

{% include loaded.html %}
